/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  /* background-color: skyblue; */
  background-image: linear-gradient(330deg, #e9cff1, #dfcef5, #d2cef8, #c5cef9, #b6cefa, #a7cff8, #98cff5, #89cff0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: purple;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar img {
  max-height: 5rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

li {
  padding: 5px 25px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  font-weight: 700;
}

li:hover {
  /*color: #777;*/
  color: orange;
  transform: scale(1.02);
}

.navbar a {
  text-decoration: none;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

#search-bar {
  height: 1.75rem;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-right: 5px;
}

#search-button {
  border: none;
  border-radius: 4px;
  padding: .50rem;
  color: purple;
  font-weight: bold;
  background-color: orange;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  width: 25%;
  margin: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card img {
  max-height: 500px;
  margin: 10px;
  border: none;
  border-radius: 12px;
}

.card h2 {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px 0;
}

.card-overview {
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
}

.search-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #0056B3;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.now-playing {
  text-align: center;
  color: purple;
  font-size: 3rem;
  padding: 5px 25px;
}

.column {
  width: 100%;
}
